<div class="container">
    <app-workflow-collapse *ngFor="let team of teams" [team]="team"></app-workflow-collapse>

    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Add Team</span></button>
    
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Add Team" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkDisabled]="!addTeamForm.valid">
      <ng-container *nzModalContent>
        <form [formGroup]="addTeamForm">
            <input nz-input formControlName="name" placeholder="Team Name" />
            <textarea nz-input formControlName="description" placeholder="Description"></textarea>
            <nz-color-picker formControlName="color"></nz-color-picker>
        </form>
      </ng-container>
    </nz-modal>
</div>